{
   "containerDefinitions" : [
      {
         "image" : "${REGISTRY_BASE}/${IMAGE_PREFIX}hello:latest",
         "name" : "hello",
         "essential" : true,
	 "memoryReservation": 32,
         "dockerLabels" : {
            "proxy.host" : "hello.cfexample.com"
         }
      }
   ]
}
